*{
  margin: 0px;
  padding: 0px;
  max-width: 2000px;
  height: auto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: 200px 200px ;
  grid-template-rows: 200px 200px;
  grid-template-areas:
   "header header"
   "navbar file"; */
                        
}


.center{
  /* grid-area: center; */
  display: flex;
}

.Header{
  /* grid-area: header; */
  background-color: #13CE66;
  width: 1955px;
  height: 74px;
  margin: 10px;
}

.patric{
  width: 40px;
  height: 40px;
}

p{
  font-size: 30;
  color:pink;
}

.file{
  background-color: cornflowerblue;

  width: 1512px;
}
.file img{
  height: 500px;
}
.navbar{
  /* grid-area: navbar; */
  padding-top: 0px;
  margin-top: 0px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 34px;
  /* text-align: left; */
  background-color: rgb(56, 45, 45);
  width: 264px;
  height: 904px;
  margin: 5px;

}
a{
  
}
.list{
  /* right: 20px;
  padding: 50px; */
}

