
/* .navbar{
  padding-top: 0px;
  margin-top: 0px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 34px;
  text-align: left;
  background-color: rgb(56, 45, 45);
  width: 264px;
  height: 904px;
  margin: 5px;

}
a{
  
}
.list{
  right: 20px;
  padding: 50px;
} */

.limkHome{
  color:pink;
}